.gallery {
  padding: 20px;
  padding-left: 0;
  margin: auto;
}

.gallery ul {
  display: flex;
  flex-direction: row;
  margin-left: -300px;
}

.gallery ul li {
  margin-left: 25px;
}

.gallery ul li:first-child {
  margin-left: 0px;
}

.gallery ul li a img {
  border: solid 6px #FFF;
  border-radius: 15px;
}